<div class="oferta">
    <label for="oferta_check" class="oferta_title">Подтвердите согласие на передачу данных аккаунта на сторонний сервер</label>
    <input type="checkbox" name="oferta_check" />
    <div class="oferta_error hidden" >Необходимо дать согласие</div>
</div>
